.jumbotron{
    margin-top: 50px;
}

a{
    color: #37bc9b !important;
    font-weight: bold;
    padding: 10px;
}

a:hover{
    color: #FF4081 !important;
    font-weight: bold;
}



#appbundle_article div:nth-child(3) {
    opacity: 0;
    visibility: hidden;
}

::selection{

    background: #37bc9b !important;

}

i{
    padding: 10px;
}

.admin{
    margin-top: -30px;
}