.jumbotron{
    margin-top: 90px;
}

a{
    color: #f06292 !important;
    font-weight: bold;
    padding: 10px;
}

a:hover{
    color: #f8bbd0 !important;
    font-weight: bold;
}



#appbundle_article div:nth-child(3) {
     opacity: 0;
     visibility: hidden;
 }

::selection{

    background: #f06292 !important; /* WebKit/Blink Browsers */

}

i{
    padding: 10px !important;
}

