{% extends 'base.html.twig' %}

{% block body %}



    <div class="panel panel-success">
        <div class="panel-heading">

            <h3>Connexion</h3>
        </div>
        <div class="panel-body">
            {% if error %}
                <div class="alert alert-danger">
                    {{ 'Oops..!! Il semblerait que le password ou le username soit incorrect '}}
                </div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" class="form-control" name="_password" />
                </div>
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                #}
                <input type="hidden" name="{{ path('article_index') }}" value="/account" />


                <button class="btn btn-info pull-right" type="submit">login</button>
            </form>

        </div>
    </div>

{% endblock %}